body {
    margin: 0;
    height: 100%;
}
.workfield{
    padding-left:10px;
    padding-right:10px;
}
@font-face{
font-family: Ubuntu;
src:url("https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet");
}


body {
  font-family: Ubuntu,Arial;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
 background: linear-gradient(to right, rgb(240,255,250),rgb(250,255,240), rgb(255,240,250));
}

p {
  color: #333030;
  text-align: justify;
}
li{
margin-top:10px;
}
li>a{
display: table;
}
a>p.title {
  font-weight: bold;
  color: #092cf0;
margin-bottom:0px;

}
a>p.date{
font-size: 12px;
margin:0px;
font-style:italic;
}
.content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}
.article{
background: rgba(122,122,122,0.15);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

#main_content{
  padding-bottom: 20px;
}

footer {
  border-top: 2px solid #f85a2799;
  padding: 20px;
}

header{
  border-bottom: 2px solid #f85a2799;
  padding: 20px;
}

.right{
  float: right;
}

img{
  max-width:100%;
max-height:400px;
  height:auto;
}

button.header{
font-family: Ubuntu,Arial;
 background-color: #4CAF50;
 border: 2px solid #4CAF50;
 color: white;
 padding: 6px 20px;
border-radius: 15%;
transition-duration: 0.4s;
}
button.footer{
 background-color: #6495ED;
 border: 2px solid #6495ED;
 color: white;
 padding: 6px 20px;
border-radius: 15%;
transition-duration: 0.4s;
}
button.header:hover,button.footer:hover {
    background-color: white; 
    color: #4CAF50;/* Green */
}
.highlighter-rouge{
background-color: #dbd7fe;
border-radius: 5px;
white-space: pre-wrap;
display: inline-block;
vertical-align: bottom;
}
