body {
    margin: 0;
    height: 100%;
}
.workfield{
    padding-left:10px;
    padding-right:10px;
}
@font-face{
font-family: Ubuntu;
src:url("https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet");
}


body {
  font-family: Ubuntu,Arial;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

 background: linear-gradient(to right, rgb(221, 221, 221),rgb(255, 255, 255), rgb(221,221,221));
}

p {
  color: #333030;
  text-align: justify;
}
.workfield li{
margin-top:10px;
}
li>a{
display: table;
}
a>p.title {
  font-weight: bold;
  color: #092cf0;
margin-bottom:0px;

}
a>p.date{
font-size: 12px;
margin:0px;
font-style:italic;
}
.content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}
.article{
background: rgba(122,122,122,0.15);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

#main_content{
  padding-bottom: 20px;
}


.right{
  float: right;
}

img{
  max-width:100%;
max-height:400px;
  height:auto;
}

.highlighter-rouge{
background-color: #a7a5bf8c;
border-radius: 5px;
white-space: pre-wrap;
display: inline-block;
vertical-align: bottom;
}

/*  fixing multiline code for github pages */
div.highlighter-rouge > div.highlight > pre.highlight {
white-space: pre-wrap;
}
